In [1]:
import pandas as pd

In [2]:
df1=pd.DataFrame({'pid':[101,102,103,],'pname':['pen','pencil','book']})

In [3]:
df1

   pid   pname
0  101     pen
1  102  pencil
2  103    book

In [4]:
df1.pid

0    101
1    102
2    103
Name: pid, dtype: int64

In [5]:
df1.pname

0       pen
1    pencil
2      book
Name: pname, dtype: object

In [6]:
df1=pd.DataFrame([[1,2,3,6],[3,2,2,2]],index=[10,20],columns=['a','b','c','d'])

In [7]:
df1

    a  b  c  d
10  1  2  3  6
20  3  2  2  2

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 10 to 20
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       2 non-null      int64
 1   b       2 non-null      int64
 2   c       2 non-null      int64
 3   d       2 non-null      int64
dtypes: int64(4)
memory usage: 80.0 bytes